@model IEnumerable<RentalKendaraan_044.Models.Jaminan>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm("Index", "Jaminan", FormMethod.Get))
{
    <p>
        ID Jaminan: @Html.DropDownList("ktsd", "Pilih ID Jaminan")
        Cari Data: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaJaminan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaJaminan)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdJaminan"><i class="fas fa-pen-alt"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdJaminan"><i class="fas fa-list"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdJaminan"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
